**cache**
cache_**
***_cache
***_cache_*
**cache/**
*.DS_Store
tests*
__pycache__*
*logs
*dist
*build
**build.sh
*test.py
*.egg-info*
*.vscode
*test_ops
**test
**.ipynb**
**__lazycls**
**/authz
mkdocs.yml
*_docs*
tests/private_*
!tests/
tests/test_cron.py
out/**
kvdb/.data/kvdb.tmp.json
kvdb/dummy_tasks.py
tests/qt_test_v2.py
tests/qt_test_v4.py
tests/qt_test_v5.py
tests/qt_test_v2.py
!kvdb/io/cachify/cache.py
tests/cachify_test_v1.py
tests/test_inheritence.py
tests/wrappers.py
kvdb/.data/kvdb.tmp.lock
